@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
    background-color: rgba(24, 24, 24, 1);
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}


header .logo{
    display: flex;
    align-items: center;
    padding-right: 40px;
}

header .logo:hover{
    cursor: pointer;
}

header form input{
  width: 300px;
  color: #959595;
  padding: 8px 16px;
  border: 2px solid #959595;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
header form button{
    padding: 8px 16px;
    background-color: #959595;
    width: 60px;
    border:  2px solid #959595;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   
}

header form button img{
    background-color: #959595;
    width: 15px;
}
.botones{
    margin-left: 20px;
    margin-bottom: 20px;
}

.botones button{
    padding: 8px 16px;
    border: 2px solid #959595;
    background-color: rgba(111, 111, 111, 1);
    color:#ffff;
    border-radius:100px;
}

.botones button:hover{
    background-color: white;
    color: rgba(24, 24, 24, 1);
    cursor: pointer;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    
}

.videos article{
    margin-right: 15px;
    margin-bottom: 20px;
}
.videos article figure .miniatura{
    width: 200px;
    display: block;
}
 .videos .descripcion{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    
    
 }

 .videos .descripcion figure img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid rgba(111, 111, 111, 1);
    margin-right: 8px;
    
 }

.videos article h4{
    color: #ffff;
    font-weight: 200;
    width: 162px;
    font-size: 8px;
}

.videos article p{
    font-size: 8px;
    color: rgba(111, 111, 111, 1);
}

.reproduccion{
    display: flex;
    flex-wrap: nowrap;
    
}

.reproduccion iframe{
    width:840px ;
    height: 472px;
    margin-left: 20px;
}

